.App {
  text-align: center;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: white;
  color: black;
}

.App-nav a {
  color: black;
  text-decoration: none;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
}

.App-nav a:hover {
  color: green;
}

.App-nav ul {
  display: flex;
  list-style-type: none;
}

.App-nav ul li {
  padding: 10px;
}

.App-header {
  background: #3E534D;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  padding: 4rem;
}

.promo-photo {
  width: 80%;
  height: 100%;
  object-fit: cover;
  padding-left: 24vh;
}

.reserve-button {
  background-color: #F4CE14;
  color: black;
  padding: 1rem;
  padding-inline: 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.reserve-button:hover {
  background-color: #F4CE14;
  color: white;
  transform: scale(1.1);
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.App-intro {
  font-size: large;
  padding: 2rem;
  background-color: green;
  color: white;
}

.App-intro {
  font-size: large;
  padding: 2rem;
  margin: 2rem;
  background-color: green;
  color: white;
}

.App-extra{
  font-size: large;
  padding: 2rem;
  margin: 2rem;
  background-color: green;
  color: white;
}

.App-final {
  font-size: large;
  padding: 2rem;
  margin: 2rem;
  background-color: green;
  color: white;
}

.App-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  background-color: #d9d9d9;
  justify-content: center;
  min-height: 20vh;
  padding: 1rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: auto;
  padding: 2rem;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: white;
  padding: 2rem;
  padding-top: 50%;
}

.footer-social a {
  padding: 1rem;
}

.footer-social a img {
  width: 30px;
  height: 30px;
  transition: 0.2s;
}

.footer-social a img:hover {
  transform: scale(1.1);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  color: white;
}

.footer-nav a {
  padding: 1rem;
}

.coming-soon {
  text-align: center;
  font-size: 2rem;
  padding-top: 20%;
  padding-bottom: 20%;
}

.specials {
  text-align: center;
  font-size: 1rem;
  background: #3E534D;
  color: white;
  padding: 1rem;
}

.specials-cards {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.specials-item {
  background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../public/promo4.jpg) no-repeat center center;
  min-height: 600px;
  min-width: 400px;
}

.specials-item h2 {
  padding-top: 80%;
}

.reviews {
  text-align: center;
  font-size: 2rem;
  background: #F4CE14;
  padding: 1rem;
}

.AboutUs {
  text-align: center;
  background-color: #3E534D;
  color: white;
  padding: 4rem;
}

.reservations {
  text-align: center;
  background-color: #3E534D;
  color: white;
  padding: 1rem;
}

.reservations input {
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  border: none;
}

.reservations div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 10rem;
}

.reservations button {
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  border: none;
  background-color: #F4CE14;
  color: black;
  padding: 1rem;
  padding-inline: 2rem;
  cursor: pointer;
  transition: 0.2s;
}

.reservations button:hover {
  background-color: #F4CE14;
  color: white;
  transform: scale(1.1);
}

.promo-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #F4CE14;
}

.promo-images img {
  width: 30%;
  height: auto;
  object-fit: cover;
}

.reservations-banner {
  text-align: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../public/promo.jpg') no-repeat center center;
  padding: 1rem;
}

.specials-button {
  background-color: #F4CE14;
  color: black;
  padding: 1rem;
  padding-inline: 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.specials-button:hover {
  background-color: #F4CE14;
  color: white;
  transform: scale(1.1);
}

.review-cards {
  display: flex;
  flex-direction: row;
}

.review {
  background-color:#d9d9d9;
  border-radius: 20px;
  padding: 2rem;
  margin: 1rem;
  text-align: start;
}